* {
	word-break: break-all;
	white-space: normal;
}
body {
	height: 100vh;
	width: 100vw;
}

h1 {
	margin-top: 5vh;
	font-size: 48px;
	color: aliceblue;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2vw;
}

.innerContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 2vw;
	width: 60vw;
}
.innerContainer div {
	width: 16vw;
	height: 40vh;
}

.transactionHistory {
	width: 52vw;
	min-height: 10vh;
	display: flex;
	align-items: center;
	background-color: aliceblue;
	flex-direction: column;
	border-radius: 1rem;
}

.transactionHistory h3 {
	text-align: center;
	font-size: x-large;
	margin: 3vh 0;
	width: fit-content;
}
.transactionContainer {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
	flex-direction: row;
	gap: 2vw;
	padding-bottom: 3vh;
}
.transactionItems {
	min-width: 100%;
	border-left: 8px solid #1976d2;
	background-color: rgb(251, 251, 255);
	padding: 1vw;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (min-width: 600px) {
	.transactionHistory {
		overflow: visible;
		height: auto;
	}
	.container {
		height: fit-content;
	}
	.innerContainer {
		flex-direction: column;
		width: 80vw;
		gap: 1vh;
	}
	.innerContainer div {
		min-width: 50vw;
		min-height: 40vh;
	}

	.transactionHistory {
		min-height: 40vh;
		width: 50vw;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		height: fit-content;
	}
	.innerContainer {
		flex-direction: row;
		width: 100vw;
		gap: 1vh;
	}
	.innerContainer div {
		min-width: 40vw;
		min-height: 40vh;
	}

	.transactionHistory {
		width: 40vw;
	}
}

@media only screen and (min-width: 992px) {
	.innerContainer {
		flex-direction: row;
		width: 90vw;
	}
	.innerContainer div {
		min-width: 25vw;
	}
}
@media only screen and (min-width: 1200px) {
	.innerContainer div {
		min-width: 20vw;
	}
	.transactionHistory {
		overflow-y: scroll;
		height: 10vh;
	}
}
