<div class="mainForm">
	<h4>Current Savings</h4>
	<p class="savingAmt">{{savingAmount}}</p>
	<form (ngSubmit)="transferToBalance()" [formGroup]="transferForm">
		<div>
			<label for="amount">Transfer amount to balance:</label>
			<input type="number" min="1" step="0.5" placeholder="10"
				formControlName="amount">
		</div>
		<div class="button-container">
			<button class="button" type="submit">Submit</button>
		</div>
	</form>
	<section>
		<p>Set savings target:</p>
		<input type="number" [(ngModel)]="targetAmount"
			(change)="updateProgressValue()">
		<!-- <mat-slider [max]="10000" [min]="1">
	<input matSliderThumb [(ngModel)]="sliderValue" #slider>
</mat-slider> -->
		<mat-progress-bar id="progBar" mode="determinate" [value]="progressValue"></mat-progress-bar>
		<span>{{ progressValue }}%</span> <!-- Display the percentage -->
	</section>
</div>
